.nav-toggler {
    color: white;
    cursor: pointer;
    width: 100%;
    margin: auto 0 auto 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-toggler:hover {
    color: rgb(231, 231, 231);
}

.nav-image {
    height: 35px;
    width: 35px;
    border: solid 2px white; 
    margin-right: 5px;
}

.nav-toggler-container {
    height: 100%;
    width: 250px;
}