.profilepartbutton {
    padding: 15px;
    color: rgb(245, 118, 0);
    text-decoration: none;
    box-sizing: border-box;
    height: 50px;
}

.profilepartbutton:hover {
    color: black;
    border-bottom: solid 3px rgba(245, 118, 0, 0.5);
}

.profilepartbutton:first-of-type {
    margin-left: 15px;
}

.active-profilepartbutton {
    color: black;
    border-bottom: solid 3px rgb(216, 104, 0);
}

.save-changes-button {
    text-decoration: none;
    color: white;
    background-color: rgb(0, 177, 38);
    width: 80%;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    border: none;
    cursor: pointer;
}

.save-changes-button:hover {
    background-color: rgb(0, 143, 31);
}

.save-changes-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}